
.header_enlace {
    width: 100%;
    display: flex;
    justify-content: space-around;

}


.slogan {
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

header {
    display: flex;
    justify-content: space-between;
}